@use "../abstracts/" as *;

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.modalContainer {
  width: 500px;
  max-height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 25px;
  position: relative;

  .pokemon-header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: $background-white;

    .pokemon-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      align-items: center;
      background-color: $background-gray;
      border-radius: 5px;

      img {
        width: 150px;
        height: 150px;
      }
    }

    .pokemon-info-adv {
      span {
        color: $font-grey;
      }
    }
  }

  .pokemon-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-y: auto;

    .pokemon-details-title {
      margin-bottom: 5px;
      color: $color-primary;
      font-weight: bold;
    }

    .pokemon-details-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .pokemon-details-right,
    .pokemon-details-left {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .pokemon-details {
    display: flex;
    flex-direction: column;
    // text-align: center;
    justify-content: center;

    .pokemon-details-abilities {
      margin-bottom: 20px;
    }
  }
}
