$color-primary: #f70000;
$color-primary-dark: #ad0000;
$color-primary-light: #ff4d4d;

$background-white: white;
$background-gray: #e6e6e6;

$font-black: black;
$font-grey-light: #b9b9b9;
$font-grey: #9b9b9b;
$font-blue: #5591fa;
$font-yellow: #ecf711;
$font-white: white;
