$color-primary: #2ea68e;
$color-primary-dark: #207362;
$color-primary-light: #3bd9b9;

$background-white: white;
$background-gray: #e6e6e6;

$font-black: black;
$font-grey-light: #b9b9b9;
$font-grey: #9b9b9b;
$font-green: #005200;
$font-white: white;

$indicator-green: green;
$indicator-red: red;
